<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="/views/assets/manifest/manifest.json" />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="shortcut icon" href="/views/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/views/assets/styles/avantui.css">
    <link rel="stylesheet" href="/views/assets/styles/home/top.css">
    <title>ログイン</title>
</head>
<body class="bg-dark text-light">
    <header></header>
    <main class="">
        <h3 class="my-5">リモコン <i class="far fa-solid fa-gamepad"></i></h3>
        <div class="m-4 py-3 ctrbox">
            <div class="container p-3 inbox">
                <h3>照明</h3>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group-vertical" role="group" aria-label="First group">
                        <button type="button" id="l-on" class="btn btn-secondary btn-lg">ON</button>
                        <button type="button" id="l-off" class="btn btn-secondary btn-lg">OFF</button>
                    </div>
                </div>
            </div>
            <div class="container p-3 inbox">
                <h3>エアコン</h3>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group-vertical" role="group" aria-label="First group">
                        <button type="button" id="c-on" class="btn btn-secondary btn-lg">ON</button>
                        <button type="button" id="a-off" class="btn btn-secondary btn-lg">OFF</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-5 d-flex">
            <h3>オートメーション <i class="far fa-solid fa-robot"></i></h3>
            <div style="flex: auto;"></div>
            <a href="/automation/create" class="btn btn-primary btn-icon btn-sm rounded-pill">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <div>
            <div class="d-flex" id="atms" style="flex-wrap: wrap;">
                <!-- <button class="btn btn-success atm-btn" hash="aaaa data-target="#atmModal" data-toggle="modal">
                    <p class="time">12:30</p>
                    <p class="command">照明</p>
                    <p class="mode">一度だけ</p>
                </button> -->
            </div>
        </div>
    </main>
    
    <div class="modal fade" id="atmModal" tabindex="-1" role="dialog" aria-labelledby="atmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="atmModalLabel">オートメーション詳細</h5>
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&#10005;</span>
                    </button>
                </div>
                <div class="modal-body text-dark" id="atmStatus">
                    <!-- <p><span>予定日時</span>: 2022/7/1 12:30</p>
                    <p><span>機器</span>: エアコン</p>
                    <p><span>状態</span>: OFF</p>
                    <p><span>状態</span>: OFF</p>
                    <p><span>モード</span>: 一度きり</p>
                    <p><span>実行設定</span>: 有効</p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delAtm" data-hash="">削除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.6/pwacompat.min.js" integrity="sha384-GOaSLecPIMCJksN83HLuYf9FToOiQ2Df0+0ntv7ey8zjUHESXhthwvq9hXAZTifA" crossorigin="anonymous"></script>
<script src="/views/assets/scripts/avantui.js"></script>
<script src="/views/assets/scripts/fetcher.js"></script>
<script src="/views/assets/scripts/home/top.js"></script>
</html>